html {
  scroll-behavior: smooth;

}
body {
}
.navbar {
  top: 0%;
  width: 100%;
  z-index: 1;
  margin-bottom: 50px;
}

.card {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 20px;

}

.footer {
  margin-top: 5%;
  text-align: center;
  font-family: "Inconsolata", monospace;
  background-color: #4b4b4b;
  padding: auto;
  padding-bottom: 5%; /* Reduced padding */
}
.footer h1 {
  margin-top: 2%;
  color:white;
  font-size: 30px;
}

.footer a:hover {
  color:yellow !important;
}
.fa-github {
  margin-top: 2%;
  color: white !important;
}

.fa-linkedin-in {
  color: white !important;
}

