html {
  scroll-behavior: smooth;

}
body {
}
.navbar {
  position: fixed;
  top: 0%;
  z-index: 20;
  width: 100%
}
.HomePage {
  background-color: lightblue;
  padding-bottom: 10%;
}
.profile_picture {
  border-radius: 50px;
  width: 100%;
  height: auto;
  margin-top: 30%;
}

.Title {
  font-family: "Inconsolata", monospace;
  margin-top: 70%;
  margin-bottom: 20px;



}
.Subtitle {
  
font-size: 20px;
font-family: "Inconsolata", monospace;
margin-bottom: 20px;

}
.about {
  margin-top: 5%;
  text-align: center;
  font-family:  "Inconsolata", monospace;;
}

.about h3 {
  margin-top: 1%;
  padding-bottom: 20%;
  font-size: 20px;
  color: #5e5e5e;

}

.footer {
  text-align: center;
  font-family:  "Inconsolata", monospace;;
  background-color: #4b4b4b;
  padding-bottom: 20%;
  
}
.footer h1 {
  margin-top: 2%;
  color:white;
  font-size: 30px;
}

.footer a:hover {
  color:yellow !important;
}
.fa-github {
  margin-top: 2%;
  color: white !important;
}

.fa-linkedin-in {
  color: white !important;
}

