html {
  scroll-behavior: smooth;

}
body {
}
.navbar {
  position: fixed;
  top: 0%;
  z-index: 20;
  width: 100%;
  font-family: "Inconsolata", monospace;
  
}
.HomePage {
  background-color: #4b4b4b;
  padding-bottom: 10%;
}
.profile_picture {
  border-radius: 50px;
  width: 100%;
  height: auto;
  margin-top: 20%;
}

.Title {
  font-family: "Inconsolata", monospace;
  margin-top: 40%;
  margin-bottom: 20px;



}
.Subtitle {
  
font-size: 20px;
font-family: "Inconsolata", monospace;
margin-bottom: 20px;

}
.about {
  text-align: center;
  font-family:  "Inconsolata", monospace;;
}

.about h3 {
  margin-top: 1%;
  padding-bottom: 20%;
  font-size: 20px;
  color: white;

}
.custom-text {
  margin-top: 40px;
}

.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family:  "Inconsolata", monospace;;
  background-color: #4b4b4b;
  padding: 20px;
  
}
.copyrightcol {
  color:white;
}

.footer a:hover {
  color:yellow !important;
}
.fa-github {
  color: white !important;
}

.fa-linkedin-in {
  color: white !important;
  margin: 30px;
}

.favicons {
  display: flex; 
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  
}

.AboutMeText {
  font-size: 17px;
  color: black !;
}

.AboutMeImage {
  width: 90%;
  height: 90%;
  aspect-ratio: auto;
  margin-top: 40px;
}
.about {
  background-color: gray;
}